<div class="purchase-item">
  <div class="purchase-item-thumbnail">
    <img src="{{purchaseItem.thubnail}}" alt="{{purchaseItem.name}}">
  </div>
 <div class="purchase-item-title">
    {{purchaseItem.name}}
 </div>
 <div class="purchase-item-rating">
    <span class="rating-badge" *ngIf="purchaseItem.rating != 0" [ngStyle]="ratingColor(purchaseItem.rating)">{{purchaseItem.rating}} &#9733;</span>
    <span class="rating-count ms-1" *ngIf="purchaseItem.rating != 0">({{purchaseItem.ratingCount}})</span>
    <span class="offer-percent">
      <span style="font-weight: 600">&#8377;{{purchaseItem.currentPrice}}</span>
      <span class="text-muted"><del>&#8377;{{purchaseItem.prevPrice}}</del></span>
       <span style="font-size: 14px" [ngStyle]="offerPercent(purchaseItem) > 0 ? {color:' rgb(38, 165, 65)'} : {color: 'red'}">
        {{offerPercent(purchaseItem)}} % {{offerPercent(purchaseItem) < 0 ? '&#8593;': '&#8595;'}}</span>
    </span>
 </div>
 <div class="purchase-item-quantity mt-2">
  Quantity: {{purchaseItem.quantityPerUnit}} {{purchaseItem.quantityPerUnitOfMeasure}}
 </div>
 <div class="mt-2">
  <button class="btn btn-dark btn-sm" (click)="addToBag()">ADD TO BAG</button>
  <button class=" ms-2 btn btn-warning btn-sm">BUY</button>
 </div>
</div>
