@import "../core/styles/scss/variables";

.navbar {
  background-color: #292935;

  .navbar-brand {
    img[alt="logo"] {
      width: 100px;
      height: auto;
    }
  }
  .navbar-toggler {
    background-color: #fff;
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        color: #fff;
        display: flex;
        align-items: center;
        cursor: pointer;

        .cart-count {
          position: absolute;
          top: 0;
          left: 25px;
          padding: 5px;
          display: inline-flex;
          background: $app-primary-color;
          border-radius: 8px;
          font-size: 12px;
          justify-content: center;
          align-items: center;
          min-width: 18px;
          height: 18px;
        }
      }
    }
  }
}

.dropdown-menu {
  width: 8rem;
}

.content-wrapper {
  margin-top: 83px;
}
