@import '../core/styles/scss/variables';

.cart-items-list {
  background-color: #fff;
  padding: 2rem 1rem;
  .cart-item {
    margin-bottom: 1rem;
    .product-data {
      display: flex;
      .product-thubnail {
        width: 120px;
        height: 120px;
        position: relative;
        img {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          top: 0;
          margin: auto;
          max-width: 100%;
          max-height: 100%;
        }
      }
      .product-details {
        padding: 0 24px 12px;
        flex: 1 1;
        max-width: 460px;

        .product-quantity {
          display: flex;
          margin-top: 1rem;
          .quantity-decrement, .quantity-increment {
            width: 28px;
            height: 28px;
            background: linear-gradient(#fff,#f9f9f9);
            display: inline-block;
            border: 1px solid #c2c2c2;
            cursor: pointer;
            font-size: 16px;
            border-radius: 50%;
            padding-top: 1px;
            line-height: 1;
          }
          .quantity-display {
            margin: 2px 8px;
          }
        }
      }
    }
  }
}

.cart-price-details {
  background-color: #fff;
  margin-left: 1rem;
  align-self: flex-start;
  position: sticky;
  top: calc(83px + 1.5rem);
  .delivery-charges {
    span {
      font-weight: bold;
      color: green;
    }
  }

  .total-amount {
    span {
      font-weight: bold;
      font-size: 18px;
    }
  }

  input[type="range"].place-order {
    width: 200px;
    background: $app-secondary-color;
    -webkit-appearance: none;
    border-radius: 5px;
    padding: 5px;
    position: relative;
    height: 45px;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      border-radius: 5px;
      background: $app-primary-color;
      z-index: 1;
      width: 30px;
      position: relative;
      height: 30px;
  }

  &:before {
    content: "Place Order";
    color: $app-primary-color;
    position: absolute;
    left: 50px;
    top: 5px;
    z-index: 1;
    font-size: 24px;
}
}
}
