<div class="login-wrapper">
  <div class="form-group">
    <label for="userName" class="mb-2">User Name</label>
    <input type="text" class="form-control" id="userName" autocomplete="off">
  </div>
  <div class="form-group">
    <label for="password" class="mb-2">Password</label>
    <input type="password" class="form-control" id="password" autocomplete="off">
  </div>
  <div class="row g-0">
    <div class="remember-me-block">
      <input type="checkbox" name="remember-me" id="remember-me">
      <span>Remember Me</span>
    </div>
    <a>Forgot?</a>
  </div>
</div>
